---
- name: update yum ca—Åhe
  yum:
    update_cache: true

- name: Add PostgreSQL11 Repo
  yum:
    name:
      - http://download.postgresql.org/pub/repos/yum/reporpms/EL-7-x86_64/pgdg-redhat-repo-latest.noarch.rpm
    state: present

- name: Install PostgreSQL11
  yum:
    name: 
      - postgresql11-server


- name: enable postgresql-11
  service:
    name: postgresql-11
    state: started 
    enabled: yes