{% if ansible_hostname == 'slave' %}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQChYS5KqfmLJ2kkwKdtw+is1IgZUIAUs9EurdHTwgKvhJeNucw4jVIT3XoQuVpP3TSNdDjD3k40qSxqpvyqQvPlH10omCI/HSSZAlycRSuNGdIqXDmBzBCZjHHxNuvLOBegh7oqKOik70fH9BqKHO5U7Nyv6F570x8EqJ4QoD983MDhh+i3ERUeWTI8697FVdbJlBcMtj5mm72dmUaxq/0qgWuVOJYW9NEThDfYNje0ybeyTPAyFHdJq2PMPHNUeIZZUvuDKzmgKMOOyq3yHAcO/A4kesstPwcKr9TjCEk8Xsa+9s5q0M71LfPFpQwABsyOHTbprUlyRGRjNg0hnAEH postgres@master
{% else %}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDDHtxcSMgrFhetE3bj5UI7tdMw7Jv9/DPzl/0tIiRcDhcWQypQmxXIzfytIEGB8B5f+TxgTsts7a3FkPI5xF5O7EFqaP13nJ0eWLEdJx+G7A+ntBuwYmDIk5bsN4FUowBZjDx2j5doEghmMV+s7bxY1e58cL4+yp/f06yvN2L+TYANYtePbBJ9qrPzb3Px441AdCE/e9ytrmulNFhLCJ1mJ8558K6p8fLja1MaN9VoQY566x39OBjyBdcwriX0s+JBkszwe/2K0u3sswcfhk9Sc8Ce4Z53fuHee+uAxvI4KFCVx2poO+/fCUF1pZOyNvwmYO5UjgzhCTfTYPK/YYaP barman@slave
{% endif %}