{% if ansible_hostname == 'master' %}
-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEAoWEuSqn5iydpJMCnbcPorNSIGVCAFLPRLq3R08ICr4SXjbnM
OI1SE916ELlaT900jXQ4w95ONKksaqb8qkLz5R9dKJgiPx0kmQJcnEUrjRnSKlw5
gcwQmYxx8TbryzgXoIe6KijopO9Hx/QaihzuVOzcr+hee9MfBKieEKA/fNzA4Yfo
txEVHlkyPOvexVXWyZQXDLY+Zpu9nZlGsav9KoFrlTiWFvTRE4Q32DY3tMm3skzw
MhR3SatjzDxzVHiGWVL7gys5oCjDjsqt8hwHDvwOJHrLLT8HCq/U4whJPF7GvvbO
atDO9S3zxaUMAAbMjh026a1JckRkYzYNIZwBBwIDAQABAoIBAGdeEgKtITQqyERM
SnIafFzHvW1JjOC11RUrLS2QJZw7N8AF9HN8wcgLovY3Y0uoitLYUMvVBw7gFZ0y
3MBKJmLqVgd8euMmTZzcUGmgPKcilOWhMQycoz1XIly5Kwt+IFQo2+vJTErpIXdI
Of+hTF+FYE4kbvCtaD7ZqnVHz6Kv1xEgLTer6s+/WdMizaqdm/t5/cywx0wbzIIG
u4z7fUfYFgnLbB9SAvKidqbv99c0fjLp94XPt2Qd00qyRRVJjIz5QgyZSC2MLPrL
X7ziaTqRtL9lhu9yRbVN/Q//OQyimGQmmPIZ8mfmzIDSN9HgNnWzJApqWo3x40Q5
gneXigECgYEA1GPliYNSdMS5wcDKMu+9sUaShmhHItMY0MwSM/UGpG2kHMenRVLD
cZKsUj2I5be2qLyVfcZHKFQh0PFZaTcV4IeM2pYWxBvymOsCGMAZr6gi2O/Wv1yO
3THxionChm/KHw1zNs5g1QVhk1YKfl8m7rbKn0oyxl0U22QhJ3o6sYECgYEAwoP0
9GtkWruAbOVi+wUbA+cbHzHzYf7ZbwVksVvenxsEFRaRtNAPQb0vUPC1vlm+g25q
buwFI2rW5Kf99ZcU8Uc7HV2QQKNS2bIKHQGAVZc0DeNuse44uYc+53Tli7HPjCX5
0muMA4lcmidhtkFvDkNgiO2utW355exzyNNvZocCgYBJJOYmB43cHOwEKAr6o8nm
RXGszDjDa4O+VKloL1hMRF4iczfODgS1Flg2Mm70/eHwFpI9MI3M+7xxosyyCYCF
ROljVhEdFKrlsvmT4IR4FCV8JI0Gdi/VSZ/voCXX+qPXMeCd3VFHy4ShIx6WCtrz
lwwM85as7d2C+ObaG6QfAQKBgFGk+YguG21KDlmm3qjmN7SnqGarnLChO7qx1NXs
7cByooAHfRkby4uYUOf0YRSIrsKT8fCk+HMpQRGwwZP32j5724Az6Xx4ESp25G/Q
VYGXea3qrGfaycx1zB1yn3bHJ4p31ihQI/DIEypRJV5OkMK33SkcOpzEkIPFf8Pn
m3a5AoGBAMToNoPK1i/YmPVCQODdrweB4C3pO3C+duR5Lh0BjQQLD2RyH1MQZMS6
/CrhBCNHRO1inlHxuM7kKrncM2hFA1jMgY7MlC/uRpMt52O1xdRnLRlcdGEyg6jQ
/x+43NQhmw2rAaOpdbdO+TflhLJF40u70cQPc6HjnC5ww/JwJWsv
-----END RSA PRIVATE KEY-----
{% else %}
-----BEGIN RSA PRIVATE KEY-----
MIIEpQIBAAKCAQEAwx7cXEjIKxYXrRN24+VCO7XTMOyb/fwz85f9LSIkXA4XFkMq
UJsVyM38rSBBgfAeX/k8YE7LbO2txZDyOcReTuxBamj9d5ydHlixHScfhuwPp7Qb
sGJgyJOW7DeBVKMAWYw8do+XaBIIZjFfrO28WNXufHC+Psqf39Osrzdi/k2ADWLX
j2wSfaqz829z8eONQHQhP3vcra5rpTRYSwidZifOefCuqfHy42tTGjfVaEGOeusd
/TgY8gXXMK4l9LPiQZLM8Hv9itLt7LMHH4ZPUnPAnuGed37h3nvrgMbyOChQlcdq
aDvv3wlBdaWTsjb8JmDuVI4M4Qk302Dyv2GGjwIDAQABAoIBAEs5MJdbb+A8ijAt
mt5NWnWOqbbo4VLP0m+NHwwxZ3cd74SjrEKbJ5Dc6RcNonOn0O4LNl2iwwZhs2bB
dMEUlY8zwhx2EZH1jRVP+ChXFu57P6XV5/7eTpXFYJ/83h11IgNj70N+JE749MgB
LPOMS9qrz1+mT5IBqBUwlBiQ79c9+T+NvJKwHA9+ID2loKYnL/4swDjpCJITbIPC
jBzSTalYk2gN0EbPQl+X4Tx0HWrMs0HioIxjx1bfsULORPNloD4VYS5jeu7V2Ced
MkOe/Y62NRDL6bt1ZlqG8uLok31dldo39BQ1bZD17mYjKOV3piYQdSYUZSKgO9sy
bTtok7ECgYEA5r2IHZWfXbdPIXf7e9bxfIWI46/Lz5cjJHtQ6keMeFBi3j2JGGw6
VI3g7+tC4OFNds5nlnMUmz6PWbeqr8x0KjTpSvRcbB2k2XyPareJ4BiIfnAwHyeI
f64hLLZ7i9okrccYJDksWyJynldjypfL1bu7u76FdiIZTJDWNGijTbsCgYEA2HsW
sABbvrAqk1scxLy8828u8JSPBoLbdUssCdAHiedm529REd4ntYc57e4obZPMx2vF
LoICYbrEkUQWc6XXe4r+gQjnR82CTxGC0HUGDFGcRSvd3vd01dF2opA45PrPI4yL
LiYMV0qGeQIS3O+ImR2szgIrP7hgvwdOaX5Xcz0CgYEA1Ov4+zPix9wsDTpmurRy
SvH+i/zhGkLhjvysgkRb/3pOgb5PEFZuzS/PbhWutU2y6fs148N2NHvaVHQD8g28
9GW3Eg/EaZBBWuByh4uukziQW/yyq00TzJ6mxlfuUfOO/T1HrcWEhOSY2DzUPVMu
KaD/cBQzm/uDVQAiamJUr5kCgYEA1EM8564yRzNtS7dW6gE2NGucVwETjIrarJPc
xnJYMfvXhq47i42M2g2R255dvbPiYtdlLEkGFNWQz+83JIZEVzreeZ9FR75WOzks
T0GvgHy1AY4Vqv5wbQdJj/RiFQNn/69a+RENoLnOSPCjlka4ZYoXWpf92Cjtk+GS
HRZooPECgYEA2KHWsSMthpEZU+YunxsY8s+tn/kChKvWXUYJAXDndUG/vjZTMP/H
iY1lNIJf0723gojF0E26zGTXIB+NGIUbEOaM26iNcMHARpbveuvSMWeirODrwKBo
cL9vmuffJgN5IeFUjlVHIrIxOaBwsjTdlCahCJXLDVXMzoS7egfKZPo=
-----END RSA PRIVATE KEY-----
{% endif %}